<p-panel header="{{header}}">
        <div class="ui-g">
            <div class="ui-grid-col-2" style="text-align:left">
                <img src="assets/pictures/fitopatology/zukovski.jpg" class="img-responsive img-rounded"> 
            </div>
            <div class="ui-grid-col-10 text-margin">
                <div class="ui-grid ui-grid-responsive ui-fluid">
                    <p>Head: Zhukovsky Alexander Gennadievich , Ph.D.Agr.Sci 
                        Tеl.: (375 17) 509-23-63, E-mail: zhukow_a@mail.ru </p>
          
                    <p><strong>Zhukovsky Alexander Gennadievich</strong>  was born on July 4,1979 in Ostrovo village,
                        the Zelva district, Grodno oblast. In 1996 he finished Galynkovo secondary school and entered
                        the Grodno State Agrarian University Plant Protection Faculty, after its graduation in 2001
                        he entered the post-graduate course at the RUE “ Institute of plant protection” and carried
                        out the researches on the topic: “Biological substantiation of protective measures agains
                        t a complex of diseases of winter triticale”. In 2008 he defended his Ph.D.Agr.Sci. on
                        above-indicated topic. Since 2004 he has worked as a Junior, 2006 – Scientific, 2008
                        –Senior Scientific Researcher at Phytopathology lab, since 2009 –Head of the lab.</p>
                </div>
            </div>
            <div class="ui-grid-col-12">
                <hr>
                <p><strong>Historical reference</strong>. At agricultural phytopathology lab of the BelSRIPP from the moment
                    of its organization (1971, the Head of the lab S.F.Buga) the researches were focused on such objects as
                    root rots and smut diseases of grain crops. During this period, the chemical method – seed dressing was
                    a predominant one for grain crops protection which was carried out mainly with the help of organomercuric
                    preparations (V.V.Nikolaeva, N.N. Lukashik). The fungicides were not applied for crops protection due
                    to limited range, contact action and low biological efficiency. The specific composition of root rot
                    agents was studied, seeds infection, the role of crop rotation, the previous crop, periods and rates
                    of seeding, depth of seeding, fertilizers – organic, green, mineral – in the severity of diseases
                    (S.F.Buga, L.I. Linnik) was studied, a differentiated approach to the selection of disinfectants
                    depending on seed infection was developed and barley seeds photo expertise methods were improved
                    (N.N.Lukashik).The obtained data were used to write the books «Мinimum of obligatory agrotechnical
                    measures for the cultivation of agricultural crops during the period of 1974-1975”(1974),
                    «Pests and diseases of cereals and measures to control them” (V.F.Samersov, S.F.Buga, 1978,
                    “Handbook on crop protection against pests, diseases and weeds (1983). With the appearance
                    of new disinfectants and fungicides in the Soviet Union market (second half of the1980s, the
                    introduction of foreign origin varieties and the intensive technologies for their cultivation,
                    the phytopathological situation in the grain crops has significantly changed, which necessitated
                    the extensive and constant research on the formation and improvement of the assortment of disinfectants
                    and fungicides (V.V.Nikolaeva, I.I.Iodko, T.I.Gololob, S.V.Loban, A.A.Radyna), study of specific composition
                    and features of biology of some disease agents, the dynamics of their development, varieties damage,
                    substantiation and development of tactics and strategies for grain crops protection against the diseases
                    based on principles of integrated protection against pests, diseases and weeds (S.F.Buga, V.V. Nikolaeva,
                    I.I. Iodko, N.N.Lukashik, T.I.Gololob, L.A.Ushkevich, T.N.Kotovich, L.K.Petrova). During this period the
                    recommendations “The Intensive technology of spiked cereals cultivation” (1986), “ Handbook on grain crops”
                    (1986) are published. Much attention of researchers (I. I. Iodko, N.А. Novik, А.А. Radyna) was paid to such
                    noxious and wide-spread object as snow mold (Typhula incarnata) and the development of measures to limit it.
                    Together with the Institute of Physics of the Academy of Sciences of the BSSR (A.F.Yanovsky, E.A.Yanovskaya,
                    S.F.Buga, L.A.Ushkevich,1986) the studies were carried out to develop a remote spectrometric method for assessing
                    winter rye state after wintering considering crops severity by snow mold. Researches on the integrated systems
                    development followed the complex systems of grain crops protection and later on the management of phytosanitary
                    situation in crops have required more accurate record, substantiation and forecast of its development, determination
                    of thresholds of harmfulness and their use to determine the expediency of fungicidal treatments, etc. (S.F. Buga,
                    V.V. Nikolaeva, I. I .Iodko, S.V. Loban, А. А. Radyna, T. I. Gololob, L. А. Ushkevich, T. N. Kotovich, V. Е. Boyarchuk,
                    L. К. Petrova, А. I. Nemkovich). The results of some researches were stated in the book “ The Integrated Protection
                    of Barley against the Diseases” (Buga, 1990). 
                <hr>
                   <strong>Collective of Phytopathology lab:</strong>
                <ul>
                    <li>Buga S.F. -Chief Scientific Researcher, Prof. dr hab.</li>
                    <li>Radyna A.A .- Senior Scientific Researcher</li>
                    <li>Zhuk E.I. - Junior Scientific Researcher</li>
                    <li>Leshkevich V.G. - Junior Scientific Researcher</li>
                    <li>Krupenko N.А. - Senior Scientific Researcher</li>
                    <li>Patrakeev А. А. - Biologist</li>
                    <li>Khalaev A.N. - Junior Scientific Researcher</li>
                </ul>
                <strong>Tel. of Employeers: 509-23-55, 509-23-58; 509-25-22.</strong>
            </div>
              
            <div class="ui-grid-col-12">
                <hr>
                <strong>Main task:</strong>
                <ul>
                    <li>development of theoretical, methodological and practical fundamentals of integrated systems
                         of grain crops protection against the diseases under conditions of the Republic of Belarus. </li>
                </ul>
            </div>
            <hr>
            <strong>Main directions:</strong>
            <ul>
                <li>studying the features of the most noxious grain crop diseases agents and their incidence and severity monitoring;</li>
                <li>study the biodiversity of micromycetes in cereals;</li>
                <li>study of the epiphytoty formation features of the most noxious diseases and the identification of
                    factors promoting or inhibiting this process;</li>
                <li>formation and improvement of a modern assortment of disinfectants and fungicides, biological and
                    economic justification for their use in the integrated systems of crop protection against the diseases;</li>
                <li>development of a strategy and tactics for the use of disinfectants and fungicides based on the study of
                    the structure and dynamics of pathogenic species populations by sensitivity in order to prevent
                    the development of fungicide resistance;</li>
                <li>search of non-chemical methods of grain crops protection against the diseases.</li>
            </ul>
        </div>
    </p-panel>