<p-panel header="{{header}}">
  <div class="ui-g">
    <div class="ui-grid-col-12 text-margin">
        <div class="ui-grid ui-grid-responsive ui-fluid">
            <p><strong><div class="header">Field of activities</div></strong></p>

            <p><strong>Area of activities</strong></p>

            <p>Primary task of the Institute is to increase the efficiency of plant protection. The
               scientists’ efforts at the Institute are directed to phytophages, phytopathogenes
               and weed plants decrease in agocoenoses and getting high-qualitty yields of agricultural
               crops. In this connection the prerogative directions in the activities of the Institute are:</p>  
               
            <div>
              <ul>
                <li><a href="#"><i class="fa fa-play" style="color:#41d63b;"></i>
                      development of scientific criteria of production and rational use of
                   the effective, ecological friendly means of agricultural crop protection against
                   noxious organisms based on the use of local raw material and microorganism strains</a></li>
                <li><a href="#"><i class="fa fa-play" style="color:#41d63b;"></i>    
                      development and apply in industry the technologies of grain crops, potato,
                   fodder, technical, vegetable and fruit crops protection against pests, diseases and weeds</a></li>
                <li><a href="#">development of the methodological fundamentals of ecological safety of plant
                   protection systems</a></li>
                <li><a href="#"><i class="fa fa-play" style="color:#41d63b;"></i>
                    development of information technologies in plant protection</a></li>
                <li><a href="#"><i class="fa fa-play" style="color:#41d63b;"></i>
                      development of methodological fundamentals of agricultural crops phytosanitary
                   monitoring and forecast of noxious organisms development</a></li>
                <li><a href="#"><i class="fa fa-play" style="color:#41d63b;"></i>
                      eco-economic basis of modern chemical and biological plant protection products
                   formation, development of their application technologies: search and allocation of
                   agricultural crop resistance sources to the dominant diseases</a></li>
                <li><a href="#"><i class="fa fa-play" style="color:#41d63b;"></i>
                    working out pesticides application methods</a></li>
              </ul>
            </div>         
            
            <hr>
            
            <p><strong>Production and services</strong></p>
               
            <div>
              <ul>
                <li><a href="#"><i class="fa fa-play" style="color:#41d63b;"></i>
                        Conducting search researches, development and also scientific and production
                    check-up in relation to concrete natural-climatic zones of the Republic the ecologically
                    friendly techniques, methods and plant protection systems against pests, diseases and weeds</a></li>
                <li><a href="#"><i class="fa fa-play" style="color:#41d63b;"></i>    
                          Working out the recommendations for collective farms, state farms, leaseholders, farmers,
                      cooperatives on integrated systems of agricultural crop protection against pests, diseases
                      and weeds with the use of agrotechnical, biological, chemical and other methods of plant protection</a></li>
                <li><a href="#"><i class="fa fa-play" style="color:#41d63b;"></i>
                          Development of progressive technologies of agricultural crop yield protection against pests,
                      diseases and weeds answering the demands of high-intensive agricultural production, providing with the
                      correspondent technological maps and normative materials</a></li>
                <li><a href="#"><i class="fa fa-play" style="color:#41d63b;"></i>
                    development of information technologies in plant protection</a></li>
                <li><a href="#"><i class="fa fa-play" style="color:#41d63b;"></i>
                          Carrying out the biological testing of preparations for their further registration in the Republic.
                      The rules of preparations registration in the Republic of Belarus You can find on the site of SE
                      ”Chief State Inspection on Seed Production, Quarantine and Plant Protection”</a></li>
                <li><a href="#"><i class="fa fa-play" style="color:#41d63b;"></i>
                          Development of the technological solution variants for potato protection against pests,
                      diseases and weeds, potato testing for diseases severity in vivid and latent forms,
                      evaluation of variety samples for resistance to potato wart disease and golden potato nematode</a></li>
                <li><a href="#"><i class="fa fa-play" style="color:#41d63b;"></i>
                          Development and adaptation of new and perspective pesticide residues analysis methods</a></li>
                <li><a href="#"><i class="fa fa-play" style="color:#41d63b;"></i>
                          Determination of pesticides content in agricultural production</a></li>
              </ul>
            </div>
        </div>
    </div>
   </div>
</p-panel>