<p-panel header="{{header}}">
  <div class="ui-g">
    <div class="ui-grid-col-12 text-margin">
        <div class="ui-grid ui-grid-responsive ui-fluid">
            <p><strong><div class="header">Framework of organization</div></strong></p>

            <p><strong>Main structural subdivisions</strong></p>
  
            <div>
                <p><a href="/governing-body"><i class="fa fa-play" style="color:#41d63b;"></i>
                    Governing Body </a></p>
                <p><a href="/herbology-lab"><i class="fa fa-play" style="color:#41d63b;"></i>    
                      Herbology Lab</a></p>
                <p><a href="/phytopathology-lab"><i class="fa fa-play" style="color:#41d63b;"></i>
                      Phytopathology Lab</a></p>
                <p><a href="/entomology-lab"><i class="fa fa-play" style="color:#41d63b;"></i>
                      Entomology Lab</a></p>
                <p><a href="/fodder-technical-lab"><i class="fa fa-play" style="color:#41d63b;"></i>
                      Fodder and Technical Crop Protection Lab</a></p>
                <p><a href="/vegetable-potato-lab"><i class="fa fa-play" style="color:#41d63b;"></i>
                      Vegetable Crop and Potato Protection Lab</a></p>
                <p><a href="/fruit-crop-lab"><i class="fa fa-play" style="color:#41d63b;"></i>
                      Fruit Crop Protection Lab</a></p>
                <p><a href="/microbiological-lab"><i class="fa fa-play" style="color:#41d63b;"></i>
                      Microbiological Method of Agricultural Crop Protection against Pests and Diseases Lab</a></p>
                <p><a href="/pesticides-lab"><i class="fa fa-play" style="color:#41d63b;"></i>
                      Pesticides Dynamics Lab</a></p>
                <p><a href="/info-marketing-patent-lab"><i class="fa fa-play" style="color:#41d63b;"></i>
                      Information, Marketing and Patent Research Department</a></p>
            </div>         
            
            <hr>
        </div>
    </div>
   </div>
</p-panel>