<p-panel header="{{header}}">
  <div class="ui-g">
    <div class="ui-grid-col-2" style="text-align:left">
        <img src="assets/pictures/herbology-lab/SorokaL.jpg" class="img-responsive img-rounded"> 
    </div>
    <div class="ui-grid-col-10 text-margin">
        <div class="ui-grid ui-grid-responsive ui-fluid">
            <p>Head: Lyudmila I. Soroka, Ph.D. Agr.Sci. 
                Tel.: (375 17) 509-23-08;
                Emploeers: 509-23-09, 509-24-94</p>

            <p><strong>Soroka Lyudmila Ivanovna</strong> was born on January 1959 in the village of Bolshaya Bykhovshchina
                the Nesvizh district Minsk oblast. In 1976 she finished secondary school in the settlement of Rassvet the
                Kletsky district Minsk oblast. In 1976 she entered the Belarusian State Agricultural Academy Agronomic
                Faculty which she graduated from in 1981.Since 1981 under the order of the Ministry of Agriculture of the
                BSSR she had been working at the RUE “Institute of Plant Protection”, NAS of Belarus as a Senior laboratory
                assistant, and in June 1983 – a Senior agronomist of Weed Control Lab (now Herbology Lab).Since October 1988
                - Junior Researcher, from April 1988 – Researcher and from July 2000 - Senior Researcher, since 2005 – Leading
                Researcher of the same lab. In 2004 she defended Ph.D. Agr.Sci. on the topic: “Agrobiological substantiation
                of chemical oat crops protection against weed plants in the Republic of Belarus”. Since 2011–Head of Herbology lab.</p>
        </div>
    </div>
    <div class="ui-grid-col-12">
        <hr>
        <p><strong>Historical reference</strong>. Herbology lab was formed on January 4,1979. A major role in the organization
            and development of the lab was played by Bogdanovsky Alexander Fedorovich who had been at the Head of the lab since
            its creation.The first emploees were A.S. Andreev, A.A. Ivashkevich, V.S. Tereshchuk. The main directions of the lab,
            remained relevant up to date were defined. 
            
            The researches were initiated with the grain crops – barley. With S.V.Soroka, L.I. Soroka, G.P. Romaniuk,
            S.A. Kolesnik coming to the lab the volume of work and crops spectrum was expanded. Since 1980 Alexander S. Andreev
            has been at the head of the lab, since 1994 – Sergey Vladimirovich Soroka, who was the first to defend Ph.D. thesis
            at the lab in 1990. Later on, the results of researches were presented in Ph.D. dissertations of V.S. Tereshchuk,
            T.N.Lapkovskaya, L.I.Soroka as well as the representative of a new scientists generation E.A. Yakimovich, R.V. Korpanov. 
            From 2003 to early 2011 the lab has been headed by T.N. Lapkovskaya. Currently, the research is being conducted in winter
            and spring cereals, pulse crops, corn, fiber flax, medicinal and aromatic herbs, large-fruited cranberry and etc.
            Due to the researches volume increase the staff of the lab is replenished by new employers N.V. Kabzar, A.V. Stashkevich,
            O.K. Lobach, N.S.Stashkevich, A.S.Pestereva, T.A. Stupakevich.</p>
        
        <hr>
         <strong>Directions of work:</strong>
        <ul>
           <li>the study of weed spread areas, the anthropogenic impact on the dynamics of their number;</li>
           <li>the study of cultural and weed plants relationship in agrocoenoses, the definition of thresholds and critical periods of weeds harmfulness;</li>
           <li>evaluation of new assortment of pesticides efficiency;</li>
           <li>development of systems of rational herbicides application in the integrated main agricultural crop protection system</li>
        </ul>
    </div>
    
    <div class="ui-grid-col-12">
        <hr>
        <strong>Research perspectives:</strong>
        <ul>
           <li>data banks development on biology, phenology, distribution and harmfulness of dominant and new weed species, allowing the creation of economically and ecologically improved agricultural crop protection technology;</li>
           <li>working out the forecast of main agricultural crop weed infestation due to climate warming;</li>
           <li>development of resource-saving ecologically friendly technologies of winter and spring grain crops, corn, lupine and fiber flax protection against weed vegetation;</li>
           <li>evaluation of cultural and weed plants sensitivity to herbicides and their formulations in order to create sustainable technologies of new generation herbicides application;</li>
           <li>herbicides assortment formation for spring triticale, winter barley, medicinal herbs, buckwheat and other crops;</li>
           <li>search and selection of herbicides to control cow parsnip Heracleum Sosnowski for preventing its spread to non-agricultural land, out of settlements and in populated areas;</li>
        </ul>
    </div>
   </div>
</p-panel>