.intro-header {
    position: relative;
    padding-left: 50px;
    color: #312d29;
    padding-top: 100px;
    padding-bottom: 100px;
    background: url("../assets/pictures/header.jpg") no-repeat center;
    background-size: cover;
  }
  
  .service-info {
    padding-bottom: 50px;  
  }