<p-panel header="{{header}}">
        <div class="ui-g">
            <div class="ui-grid-col-2" style="text-align:left">
                <img src="assets/pictures/vegetable/volchkevich.jpg" class="img-responsive img-rounded"> 
            </div>
            <div class="ui-grid-col-10 text-margin">
                <div class="ui-grid ui-grid-responsive ui-fluid">
                    <p>Head: Volchkevich Irina Georgievna, Ph.D.Agr.Sci. 
                       Tel.: (375 17) 509-26-71, E-mail: onionprotect@yandex.by 
                       Employeers: 509-26-80, 509-26-57, 509-26-58, 547-44-62</p>
          
                    <p><strong>Volchkevich Irina Georgievna</strong> was born on June 18, 1979 in the village of Svisloch the Grodno
                        district Grodno oblast. In 2001 she graduated from Grodno State Agrarian University Plant Protection Faculty
                        with a specialty in agrochemistry, soil science and plant protection. She began her labour activity at the
                        Open Stock-Holding Company “ Vileiskaya raiselkhozkhimiya” of the Minsk oblast in the position of Chief
                        Agronomist of the subsidiary farm “Druzhba” During the period from 2002 to 2005 she has studied at the Post-graduate
                        course at the RUE “Institute of plant protection”. In 2010 she defended her Ph.D. dissertation on the topic:
                        ” Justification of rational herbicides use in common onion crops cultivated in the annual crop”. In 2005-2007
                        she has worked as a Junior Scientist, 2007-2008 - Scientific Scientist – Senior Scientific Worker, 209-2010 –
                        Leading Scientific Worker of Vegetable Crop and Potato Protection Lab. Since 01.01. 2013 - she is at the Head
                        of Vegetable Crop and Potato Protection Lab. The range of scientific interests is the study of specific composition,
                        the structure of noxious organisms dominance in table root crops agrocenoses (carrots and table beet), onion crops
                        (common onion, winter garlic), cruciferous crops (white-head cabbage, garden radish) and the development of rational
                        protection systems.</p>
                </div>
            </div>
            <div class="ui-grid-col-12">
                    <hr>
                    <p><strong>Historical reference</strong>. The laboratory for vegetable crop protection as an independent unit was separated
                        from the Biological Method of Protection against Noxious Organisms Depasrtment in 1974. Its first head was Ph.D.Agr.Sci.
                        Kustova Alexandra Ivanovna. From 1980 to 2000 Ph.D.Biol.Sci.Sidlyarevich Victor Ivanovich has been at the Head of the lab
                        and in 2001-2002 –Ph.D.Biol.Sci. Beynya Vladimir Alexandrovich. Since 2002 Dr.Agr.Sci. Prishchepa Iosif Alexeevich has been
                        at the Head of the lab.
                        The employees of the laboratory have developed the integrated systems for cabbage, carrots, table beet, onion protection
                        against pests, diseases and weeds in the open ground, cucumber and tomato - in the protected ground. The developed
                        systems are characterized by high biological and economic efficiency. These systems are based on biological
                        characteristics of pests and disease agents taking into account the disease resistance of protected crops and the
                        activity of useful species of entomophages. Currently, the team of employers is working on solving the priority
                        problems on the environmental safety of plant protection products, creating new resource-saving technologies for vegetable
                        crops protection against noxious organisms and providing scientific and technological support for plant protection in
                        vegetable farms in the country. The Laboratory also conducts a number of complex studies with many scientific institutions
                        of the National Academy of Sciences of Belarus, Russia and with the aim of creating new bio-means, searching for the
                        effective species of entomophages and antagonists. The employees of the laboratory were the initiators and pioneers of
                        biological method of plant protection introduction into the open and protected ground, the regulations of predatory bugs
                        Phytoseiulus persimilis and miicrolofus against spider mite (Tetranychus urticae), Encarsia formosa and Aschersonia for
                        greenhouse whitefly (Trialeurodes vaporariorum) control.
                        Two microbiological preparations are created at the laboratory, highly productive forms of Trichogram are isolated and
                        selected, a collection of entomophages is formed, 5 patents are obtained, 7 books are published, 2 monographs, 2 broshures.
                        A great contribution to scientific research has been made by Ph.Ds.Kustova A.I., Sapogova A.A., Badyai S.V.,Paramonova
                        O.V.,Komarova M.S., Sidlyarevich V.I., Kolyadko N.N.,Popov F.A., Novikova O.T.,Zherdetskaya T.N. and also by the
                        experienced scientific workers and specialists Lameko V.M., Poplavskaya Yu.A., Sedunova E.V., Shinkorenko E.G.
                        Since 01.01.2011 Potato Protection Lab (which was organized in 1987 on the basis of the Virology lab headed
                        by the Corresponding member of the NAS of Belarus , Dr.Biol.Sci., laureate of the USSR State Prize A.L. Ambrosov and
                        the laboratory of Potato Protection against Pests and Diseases headed by Ph.D.Biol.Sci. Kurilov V.I. have entered the
                        Vegetable Crop and Potato Protection lab. At the Head of Potato Protection Lab have been Dr.Agr.Sci.Zh.V.Blotskaya,
                        Ph.D.Biol.Sci. N.N. Timofeev, Ph.D. Agr.Sci. M.I. Zhukova. </p>
                <hr>
                   <strong>Direction of work:</strong>
                <ul>
                    <li>improvement of integrated systems of fodder and technical crop protection against pests, diseases and weeds;</li>
                    <li>phytosanitary control of planting material for the current year harvest and monitoring of the phytosanitary
                        situation in rape, fiber flax, sugar beet, leguminous crops, perennial legumes (birdsfoot trefoil
                        (Lotus corniculatus), goat’s rue (Galega) and grasses (timothy grass (Phleum pretense), perennial
                        ryegrass (Lolium perenne), sloughgrass (Beckmania eruciformis);</li>
                    <li>biology features study of the most common and noxious phytophages and disease agents;</li>
                    <li>ecological and economic justification of the effectiveness of plant protection products application;</li>
                    <li>short-term and long-term forecast of pests, diseases and weeds incidence development on the territory of the Republic</li>
                </ul>
            </div>
              
            <div class="ui-grid-col-12">
                <hr>
                <strong>Direction of work:</strong>
                <ul>
                    <li>development and improvement of ecologically friendly systems of main vegetable crops of open and protected
                        ground protection against pests, diseases and weeds considering varietal characteristics, growing conditions
                        and maximum use of useful organisms and their vital activity products;</li>
                    <li>discovery of biodiversity of noxious organisms (pests , disease agents and weed plants) in potato crop;</li>
                    <li>study the regularities of the dynamics of their development and harmfulness in potato crop;</li>
                    <li>development of regulations and technologies of phytosanitary products use that meet the requirements of biological
                        efficiency, economic expediency and environmental safety. </li>    
                </ul>
            </div>
            <hr>
        </div>
    </p-panel>