<p-panel header="{{header}}">
        <div class="ui-g">
          <div class="ui-grid-col-2" style="text-align:left">
              <img src="assets/pictures/microbiology/voitka.jpg" class="img-responsive img-rounded"> 
          </div>
          <div class="ui-grid-col-10 text-margin">
              <div class="ui-grid ui-grid-responsive ui-fluid">
                  <p>Head: Voitka Dmitry Vladimirovich, Ph.D.Biol.Sci.  
                     Tel.: (375 17) 509-26-89; e-mail: d.voitka@tut.by 
                     Employeers: Tel./fax: (375 17) 509-26-54, 547-44-53; e-mail: biocontrol@tut.by </p>
      
                  <p><strong>Voitka Dmitry Vladimirovich</strong> was born on May 15, 1976. He has been working at the RUE
                     “Institute of Plant Protection” since 1998 after graduating from the Natural Sciences Faculty of the
                     Belarussian State Pedagogical named after M.Tank University. He has finished the post-graduate course
                     at the Institute of Plant Protection and successfully defended Ph.D. thesis on the topic: “Control of
                     cucumber rot causative agents in the closed ground with preparations based on Trichoderma spp. fungi”.
                     Since 2009 he has been at the Head of Microbiological method of Plant Protection against Pests and Diseases Lab.
                     He is a member of the Academic Council of the RUE “Institute of Plant Protection”, Deputy-Head of the Public
                     Association “Belarusian Phytopathological Society”, a member of experts working group on the assessment of
                     the biological effectiveness of biological products, pheromones, growth regulators and fertilizers subject to
                     State registration. He has been a representative from Belarus within the frame project COST (European Cooperation
                     in the field of Scientific and Technical Research) - FP0801 “Established and Emerging Phytophthora: Increasing
                     Threats to Woodland and Forest Ecosystems in Europe”.</p>
                </div>
           </div>
           <div class="ui-grid-col-12">
                <hr>
                <p><strong>Scientific interests:</strong>biological control, phytopathology, microorganisms-antagonists, biotechnology,
                 production of biological preparations, ecology. 
                <ul>
                   <li>biological control</li>
                   <li>phytopathology</li>
                   <li>microorganisms-antagonists</li>
                   <li>biotechnology</li>
                   <li>production of biological preparations</li>
                   <li>ecology</li>
                </ul>
                   Scientific probation periods: 
                <ul>
                   <li>All –Russian School-Seminar “Biological method in the protected ground”, VIZR, Russia, 2000</li>
                   <li>The PROFOREST Centre of Excellence, Poland, 2004</li>
                   <li>The I –st International Scientific School on the Systematics of Fungi-causative agents of plant
                         diseases, VIZR, Botanical named after V.L. Komarov Institute of the RAS, Saint-Petersburg, Russia, 2011</li>
                   <li>International course “Integrated Pest Management”, ARO–CINADCO–MASHAV, Volcani, Israel, 2012</li>
                </ul>
                <p>Awarded with the Honorary Diploma of the State Committee for Science and Technology of the Republic
                   of Belarus, 2011 The results of researches are published in 120 scientific works (47 of them are in
                   foreign publications), including 2 monographs, 6 scientific and methodological elaborations. He is
                   a co-author of three patents.</p>
          </div>
          <div class="ui-grid-col-12">
              <hr>
              <p><strong>Historical reference.</strong> In 1958 on the base of Biological Method Department of the Belarussian Scientific-Research
                 Institute of Fruit-Growing, Vegetable-Growing and Potato under the guidance of Trofim Titovich Bezdenko, the work has started
                 to develop a biological method of plant protection. The main directions of research are the following: attraction and
                 accumulation of entomophages on protected crops, seasonal colonization of egg-eaters, study of entomopathogenic
                 microorganisms and fungi-antagonists, creation and use of biological preparations to control agricultural crops
                 pests and diseases, development of integrated measures for fruit, vegetable crops and potato protection against
                 pests and diseases. The theoretical base of biological method in Belarus has been formed and the achievements
                 introduction into production has been organized</p>
              <hr>
               <strong>Collective of Microbiological Method of Plant Protection against Pests and Diseases Lab:</strong>
              <ul>
                 <li>Yankovskaya Elena Nikolaevna – Leading Scientific Researcher, Ph.D.Biol.Sci.</li>
                 <li>Kondratenko Tatiana Petrovna – Senior Scientific Researcher, Ph.D.Agr.Sci.</li>
                 <li>Yuzefovich Elena Konstantinovna – Senior Scientific Researcher, Ph.D.Biol.Sci.</li>
                 <li>Gerasimovich Marina Stanislavovna – Senior Scientific Researcher</li>
                 <li>Garko Liliya Stanislavovna – Leading Agronomist</li>
                 <li>Fedorovich Mariya Valerievna – Agronomist</li>
              </ul>
          </div>
          
          <div class="ui-grid-col-12">
              <hr>
              <strong>Main directions of work:</strong>
              <ul>
                 <li>research on search and selection of high-active strains of entomopathogenic microorganisms and nematodes, antagonist
                     microorganisms and the creation of microbiological preparations based on them;</li>
                 <li>study of the mechanism of action and spectrum of microbiologic activity in relation to phytophages and
                     phytopathogens, evaluation of their effect on beneficial entomofauna and microflora;</li>
                 <li>development of technologies for the production and use of biological preparations in modern plant protection systems
                     against pests and diseases and the technological regulations for the combined use of microbiological preparations and entomophages;</li>
                 <li>development of scientific-technical documentation for the production and application of biological preparations;</li>
                 <li>biological substantiation and development of technologies for the use of microbiological preparations in modern
                     plant protection systems, including organic agriculture.</li>
              </ul>
          </div>

          <div class="ui-grid-col-12">
                <hr>
                <strong>THE FOLLOWING BIOLOGICAL PREPARATIONS ARE DEVELOPED AND INTRODUCED INTO PRODUCTION:</strong>
                <p>- to protect plants against pests:</p>
                <ul>
                   <li>BACTOCIDE</li>
                   <li>BACITURIN,L</li>
                   <li>BACITURIN, PS.</li>
                   <li>BOVERIN GRAIN -BL</li>
                   <li>MUSCARDIN-L</li>
                   <li>MELOBASS®</li>
                   <li>PECILOMYCIN-B</li>
                   <li>ENTOLEK</li>
                </ul>
                <p>- for plant protection against the diseases:</p>
                <ul>
                   <li>TRICHODERMIN-BL</li>
                   <li>LIGNORIN</li>
                   <li>FUNGILEX</li>
                </ul>
            </div>

            <div class="ui-grid-col-12">
                <hr>
                <strong>RECOMMENDATIONS TO PRODUCTION:</strong>
                <p>The developed preparations have passed through the State registration and included into the “State register of plant protection products (pesticides) and fertilizers, permitted for use on the territory of the Republic of Belarus”.
                   A working collection of microorganisms perspective as the basis of biological preparations as well as the phytopathogenic microorganisms have been created and continues to be developed. The laboratory collection includes 30 strains
                   and isolates of entomopathogenic bactetria, 41 –entomopathogenic fungi, 31 –phytopathogenic fungi and fungus-similar organisms.</p>
            </div>
            <div class="ui-grid-col-12">
                    <hr>
                    <strong>The laboratory renders the methodological and scientific – practical assistance in the following areas on the contractual basis::</strong>
                    <ul>
                        <li>Scientific and consuling support of biological preparations use in modern plant protection</li>
                        <li>Production of biological preparations pilot samples</li>
                        <li>Working out of biological material by solid-phase and liquid-phase fermentation for metabolites of microorganisms isolation and analysis</li>
                        <li>Production of pure cultures of microorganisms for biotechnological enterprises</li>
                        <li>Assessment of target microorganisms content and conducting studies on their biological effectiveness on specific phytopathological and entomological objects</li>
                        <li>Quality control of biological preparations</li>
                        <li>Determination of biological activity (phytotoxic,antibiotic, fungicidal, insecticidal) of microorganisms and their metabolites</li>
                    </ul>
            </div>
         </div>
    </p-panel>