<p-panel header="{{header}}">
  <div class="ui-g">
    <div class="ui-grid-col-12 text-margin">
        <div class="ui-grid ui-grid-responsive ui-fluid">
            <p>July 24–26, 2017</p>

            <p><strong>International Scientific Conference
            «Environmental Safety of Plant Protection»</strong></p>

            <p>The Conference is devoted to the 105-th anniversary of the Corresponding Member
               of academician of NAS of Belarus A.L. Ambrosova and 80-th anniversary of academician
               of NAS of Belarus V.F. Samersova. During the Conference there will be an opportunity
               to discuss problems of mutual interest in the field of plant protection what will
               help to establish new relations and initiate a cooperation with the scientists of
               other countries. Materials of the Conference prepared by the leading scientists of
               Belarus and near and far abroad countries, State plant protection and quarantine
               service workers, experts of practical agriculture will be of interest for scientific
               workers and practical workers of agriculture connected or interested in the problems
               of plant protection and prospects of its development in the XXI century. Conference
               materials will be printed till the moment of carrying out the Conference.</p>        
            <hr>
        </div>
    </div>
   </div>
</p-panel>