<p-panel header="{{header}}">
        <div class="ui-g">
            <div class="ui-grid-col-3" style="text-align:left">
                <img src="assets/pictures/entomology/trep.jpg" class="img-responsive img-rounded"> 
            </div>
            <div class="ui-grid-col-9 text-margin">
                <div class="ui-grid ui-grid-responsive ui-fluid">
                    <p>Head: Trepashko Lyudmila Ivanovna, 
                       Tel.: (375 17) 509-23-31; E-mail: entom@tut.by
                       509-23-48</p>
          
                    <p><strong>Trepashko Lyudmila Ivanovna</strong> was born on February 4, 1946 in Kapustino village the
                       Volozhinsky district Minsk oblast. In 1972 she graduated from the Leningrad Agricultural Institute
                       by specialty scientific agronomist in plant protection. She has been working at the Institute since 1971.
                       Since 1999 she is a Head of the lab. A large amount of work has been done to study the harmfulness of dominant
                       phytophagous species of cereal crops, a system of short-term forecast of their number and harmfulness has been
                       developed, the methodical recommendations have been published on the calculation of ecological and economic
                       thresholds of the expediency of plant protection products application based on which a computer task has been
                       prepared. For the first time the methodical approaches have been proposed on the evaluation of ecological safety
                       of plant protection systems, a monograph is published on short-term forecast of phytophages harmfulness.
                       L.I.Trepashko carries out the active work on the implementation of scientific results in production, is widely
                       known to the scientific community of the Republic,CIS, Poland and production workers.</p>
                </div>
            </div>
            <div class="ui-grid-col-12">
                <hr>
                   <strong>Direction of work:</strong>
                <ul>
                    <li>Development of technology of phytosanitary optrimization of agrocenoses under the climate change conditions,
                        ensuring the economy and maintenance of ecological stability, getting biologically complete products.</li>
                    <li>Biological substantiation of leguminous crops protection against pests.</li>
                    <li>Improvement of scientific, methodological and information support for forecasting the development of
                        the Western corn rootworm (Diabrotica virgifera virgifera LeConte) in Belarus.</li>
                    <li>Development of a methodology for the use of pheromones and kairomones for protecting food stocks
                        against lepidopterous pests.</li>
                </ul>
            </div>
              
            <div class="ui-grid-col-12">
                <hr>
                <strong>Tasks:</strong>
                <ul>
                    <li>To develop a forecast of changes in the phytosanitary situation in agrocenoses of spring and winter
                        cereals under conditions of climate warming;</li>
                    <li>To determine the specific composition of spring triticale, winter barley, blue lupine and yellow
                        lupine seed crops entomocomplex. To improve a system of grain crops and lupine protection against
                        dominant pest species based on their bioecological development features.</li>
                    <li>Based on biological, ecological features and harmfulness, as well as the results of pheromonitoring
                        of the Western corn rootworm (Diabrotica virgifera virgifera LeConte) in the places of its possible
                        incidence to forecast the noxious quarantine pest distribution area. To assess the main biotic
                        and anthropogenic factors contributing to its primary and secondary invasion into the territory of Belarus.</li>
                    <li>To carry out pheromonitoring and evaluate the attractiveness of pheromones of lepidopterous pests in
                        the premises of bakeries and grain processing enterprises.</li>    
                </ul>
            </div>
            <hr>
        </div>
    </p-panel>