<p-panel header="{{header}}">
        <div class="ui-g">
            <div class="ui-grid-col-2" style="text-align:left">
                <img src="assets/pictures/fodder/zaprud.jpg" class="img-responsive img-rounded"> 
            </div>
            <div class="ui-grid-col-10 text-margin">
                <div class="ui-grid ui-grid-responsive ui-fluid">
                    <p>Head: Zaprudsky Alexander Anatolievich, Ph.D. Agr.Sci. 
                       Tеl.: (375 17)509-23-05; (375 33)373-83-21; (375 44)713-56-11; E-mail: ark2@list.ru
                       Employeers: 509-23-56,509-23-06, 509-23-07</p>
          
                    <p><strong>Zaprudsky Alexander Anatolievich</strong> was born on December 2, 1983 in Gorki town, Mogiliov
                        oblast. In 2006 he graduated from the Agronomy Faculty of the Belarusian State Agricultural Academy
                        specializing in agronomy From 2006 to 7007 he has been a Master student, and from 2007 to 2010 – a
                        Post-graduate student of Plant Cultivation Department of the Belarusian State Agricultural Academy.
                        From 2009 to 2013 he worked as an Assistant, Senior Lecturer of Plant Growing Department, Senior
                        Lecturer of Plant Growing department. In 2012 he defended his thesis for the degree of Ph.D.Agr.Sci.
                        on the topic:”Comparative productivity of winter rape hybrids and varieties, depending on the methods
                        of cultivation under conditions of the north-eastern part of Belarus”. Since February 1,2013 he has been
                        working as a Senior Researcher at the Institute and since January 1, 2015 as the Head of the Laboratory.</p>
                </div>
            </div>
            <div class="ui-grid-col-12">
                    <hr>
                    <p><strong>Historical reference</strong>. To solve the urgent problems of phytosanitary monitoring, to study the
                        biological characteristics of harmful organisms and to develop the effective and environmentally friendly
                        measures to protect this crop group in 1977 the Technical Crop Protection Lab was organized which in 1991 became
                        an integral part of fodder and technical crop protection lab.
                        The head of the lab turned out to be Dr.Agr.Sci. Padionov Kuzma Platonovich. Later on, the Heads of the extended
                        laboratory for fodder and technical crop protection were Ph.Ds. Zolin Victor Petrovich, Shikalchik Nina Vasilievna,
                        Budrevich Anatoly Petrovich, Hajyieva Halina Iosefovna.
                        A successful solution of a large group of agricultural crops protection against a complex of noxious organisms
                        became possible only thanks to the laborious and purposeful work of highly qualified specialists such as Prof.dr
                        hab. Padionov Kuzma Platonovich, Ph.Ds. Turishcheva N.A., Tsvetkov S.G., Samersova V.A., Yanovich V.I., Mormyleva V.F.,
                        Osipov V.G., Shikalchik N.V., Zolin V.P.,Hajyieva H.I., Evsikov D.O., Boyar D.M. as well as the other employees with
                        many years of experience – Shiyan L.K., Krupets L.F., Odinets V.V., Starostina M.A., Tralenko G.Ya., Gutkovskaya N.S.,
                        Polozniak E.N., Ageichik V.V., Galyakevich N.V., Botyan G.N., Trafimchik A.Ya.
                        According to the research results , 1 doctoral and 6 Ph.D. dissertations were defended by the laboratory staff.
                        A large amount of information and reference material (handbooks, booklets, information sheets), recommendations,
                        training aids, State standards, regulations have been prepared. </p>
                <hr>
                   <strong>Direction of work:</strong>
                <ul>
                    <li>improvement of integrated systems of fodder and technical crop protection against pests, diseases and weeds;</li>
                    <li>phytosanitary control of planting material for the current year harvest and monitoring of the phytosanitary
                        situation in rape, fiber flax, sugar beet, leguminous crops, perennial legumes (birdsfoot trefoil
                        (Lotus corniculatus), goat’s rue (Galega) and grasses (timothy grass (Phleum pretense), perennial
                        ryegrass (Lolium perenne), sloughgrass (Beckmania eruciformis);</li>
                    <li>biology features study of the most common and noxious phytophages and disease agents;</li>
                    <li>ecological and economic justification of the effectiveness of plant protection products application;</li>
                    <li>short-term and long-term forecast of pests, diseases and weeds incidence development on the territory of the Republic</li>
                </ul>
            </div>
              
            <div class="ui-grid-col-12">
                <hr>
                <strong>Tasks:</strong>
                <ul>
                    <li>To develop a forecast of changes in the phytosanitary situation in agrocenoses of spring and winter
                        cereals under conditions of climate warming;</li>
                    <li>To determine the specific composition of spring triticale, winter barley, blue lupine and yellow
                        lupine seed crops entomocomplex. To improve a system of grain crops and lupine protection against
                        dominant pest species based on their bioecological development features.</li>
                    <li>Based on biological, ecological features and harmfulness, as well as the results of pheromonitoring
                        of the Western corn rootworm (Diabrotica virgifera virgifera LeConte) in the places of its possible
                        incidence to forecast the noxious quarantine pest distribution area. To assess the main biotic
                        and anthropogenic factors contributing to its primary and secondary invasion into the territory of Belarus.</li>
                    <li>To carry out pheromonitoring and evaluate the attractiveness of pheromones of lepidopterous pests in
                        the premises of bakeries and grain processing enterprises.</li>    
                </ul>
            </div>
            <hr>
        </div>
    </p-panel>