<p-panel header="{{header}}">
  <div class="ui-g">
    <div class="ui-grid-col-4" style="text-align:left">
        <img src="assets/pictures/front.jpg" class="img-responsive img-rounded"> 
    </div>
    <div class="ui-grid-col-8 text-margin">
        <div class="ui-grid ui-grid-responsive ui-fluid">
            <p>Institute of Plant Protection</p>

            <p>2 Mira Street, a/c Priluki BY – 223011
            Minsk District, Minsk Oblast,
            Republic of Belarus
            Fax: +375(017) 509-23-39
            E-mail: belizr@tut.by</p>

            <p>You can get to the Institute from the railway station by fixed-route taxi № 1131,1529
             "Railway Station - Аtolino" and № 1545 "Malinauka metro stАtolino", from the bus station
             “ South-West” by suburban buses number 279 "Southwest - Atolino" № 213 "Southwest - Maripol",
             № 339 "SoutZabolotie" to the stop "Priluki".</p>
             
             <p>The Institute is a leading scientific and methodical center coordinating research on
                agricultural crop ction against pests, diseases and weeds in Belarus.</p>
        </div>
    </div>
    <div class="ui-grid-col-12">
        <hr>
        <p>Belarusian Scientific-Research Institute of Plant Protection (BelNIIZR) was organized on
         February 17, 1971 (Council of Ministers Decree № 37 "On the organization of Belarusian
          Research Institute of Plant Protection of the Ministry of Agriculture of BSSR”) on the base
           of Minsk Experimental Station on Colorado potato beetle nematodes and potato wart disease
            of the All-Union Plant Protection Research Institute, Plant Protection Department of the
             Belarusian Crop Farming Research Institute, Plant Protection Department and the Biological
              Pest Control Lab of Belarussian Potato and Hortic Research Institute.</p>

        <p>The Institute is a member of the RUE “ Scientific and Practical Centre of the National
         Academy of Sciences of Belarus for arable Farming " according to the Presidential Decree
          dated April 18, 2006 № 242</p>
    </div>
   </div>
</p-panel>